asgiref==3.3.1
django==3.1.7
django-extensions==3.1.1
django-mysql==3.11.1
mysql-connector-python==8.0.23
protobuf==3.15.6
psycopg2-binary==2.8.6
pygraphviz==1.6
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
ispyb_dja
